body {
  font-family: "Georgia", serif;
  background: #fff;
  padding: 40px;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  color: #0077c8;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.underline {
  width: 500px;
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 auto 30px auto;
}

.intro {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.italic {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 10px;
}

ol {
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.logo {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.logo img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.byu {
  font-size: 28px;
  color: #003366;
}

.idaho {
  font-size: 20px;
  color: #7ca1d4;
}

/* Dark Theme Fixes */
.dark {
  background-color: #333;
  color: #ffffff;
}

.dark .container {
  background-color: #444;
  border-color: #555;
}

.dark .subtitle {
  color: #7AC9FF;
}

.dark .byu,
.dark .idaho {
  color: #cccccc;
}
